@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>

@{
    ViewBag.Title = "All Users";
}

<h1>All Users</h1>

@{
    bool UsersIsNullOrEmpty = ((Model is null) || (Model!.Any()));  
}

@if (UsersIsNullOrEmpty) {
    <div class="card">
        <div class="card-header">No users created</div>
    </div>
}

@if (!UsersIsNullOrEmpty) {
    <table class="table">
        <tr>
            <th>Email</th>
        </tr>
        @foreach (var user in Model!) {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="AcquireUserContent" asp-route-userid="@user.Id">
                        View Content
                    </a>
                </td>
            </tr>
        }
    </table>
}