@using MathTasks.ViewModels
@model IEnumerable<TagViewModel>

@foreach(var tag in Model)
{
    @*<span class="badge badge-pill alert-primary">@tag.Name</span>*@
    <a asp-controller="AlterMathTasks" asp-action="Index" asp-route-tag="@tag.Name" class="badge badge-pill alert-primary" style="text-decoration:none">@tag.Name</a>
}