@using MathTasks.ViewModels
@model MathTaskViewModel
@if (Model is null)
{
    <h1>Error while processing request ...</h1>
    <p class="alert alert-warning">No model found</p>
}
else
{
    <partial name="_MathTask" model="Model"></partial>
}
