@using MathTasks.RazorLibrary
@using MathTasks.ViewModels
@model MathTaskViewModel
@{
    ViewData["DoHideLink"] = true;
}
@if (Model is null)
{
    <h1>Error while processing request ...</h1>
    <p class="alert alert-warning">No model found</p>
}
else
{
    <partial name="_MathTask" model="Model"></partial>
}

@section Headers
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
}
@section Scripts
{
    <script src="_framework/blazor.server.js"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
}
